---
import TinderCardWrapper from "../components/TinderCard";
const criterias = await Astro.glob('./criterias/*.mdx');
---

<html lang="en" class="h-full">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Comparaison between Selenium, Cypress and Playwright</title>
</head>
<body class="bg-slate-200 max-w-4xl mx-auto h-full overflow-hidden">
<div class='cardContainer h-full '>
    <TinderCardWrapper criteria={criterias.map(value => value.frontmatter as any)} client:only="react">
    </TinderCardWrapper>
</div>

</body>
</html>


